{% extends 'eyca/base.html' %}
{% load static %}

{% block title %}
    eYCA - Home
{% endblock %}

{% block page %}
<div class="bg-fixed pt-24 w-full h-full h-screen bg-red-100">
	<div class="container text-black px-3 mx-auto flex flex-wrap flex-col md:flex-row items-center">
		<div class="flex flex-col w-full md:w-2/5 justify-center items-start text-center md:text-left">
			<p class="uppercase tracking-loose w-full">An e-Yantra Initiative</p>
			<h1 class="my-4 text-5xl font-bold leading-tight">e-Yantra Campus Ambassador</h1>
			<p class="leading-normal w-full text-2xl mb-8">Enjoy this beautiful journey with e-Yantra</p>
		</div>
		<div class="w-full md:w-3/5 py-6 text-center">
			<img src="{% static 'images/home.svg' %}" alt="" srcset="">
		</div>

	</div>
</div>
<style>
</style>
{% endblock %}