{% extends 'eyca/base.html' %}
{% load static %}

{% block title %}
    Password Reset
{% endblock %}

{% block page %}

<div class="bg-white">
  <div class="w-full flex flex-wrap">
    <div class="w-full flex flex-col">
      <div class="py-24">
        <div class="w-full p-8">
            <div
            class="flex bg-gray-200 rounded-lg overflow-hidden mx-auto max-w-sm lg:max-w-4xl items-center justify-center px-4 sm:px-6 lg:px-8 mt-10">
              <div class="max-w-md w-full mt-10">
              <div>
                <img class="mx-auto h-24 w-auto" src="{% static 'images/forgot_password.svg' %}" alt="Workflow">
                <h2 class="mt-2 text-center text-3xl leading-9 font-extrabold text-gray-900">
                  Forgot Password
                </h2>
                <br>
                <p class="text-lg text-gray-600 text-center">Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>
              </div>
              <form class="mt-8" action="#" method="POST">
                  {% csrf_token %}
                <input type="hidden" name="remember" value="true">
                <div class="rounded-md shadow-sm">
                  <div>
                    <input aria-label="Email" name="email" type="email" required
                      class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                      placeholder="Email">
                  </div>
                </div>
                <div class="mt-6">
                  <button type="submit"
                    class="mb-10 group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                    Send Reset Link
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}