{% extends 'eyca/blank_navbar.html' %}
{% load static %}

{% block title %}
    Update Password
{% endblock %}

{% block page %}

    <div class="bg-white">
        <div class="w-full flex flex-wrap">
            <div class="w-full flex flex-col">
                <div class="py-24">
                    <div class="w-full p-8">
                        <div
                                class="flex bg-gray-200 rounded-lg overflow-hidden mx-auto max-w-sm lg:max-w-4xl items-center justify-center px-4 sm:px-6 lg:px-8">
                            <div class="max-w-md w-full">
                                <div>
                                <br>
                                    <img class="mx-auto h-24 w-auto" src="{% static 'images/set_password.svg' %}"
                                         alt="Workflow">
                                    <h2 class="mt-2 text-center text-3xl leading-9 font-extrabold text-gray-900">
                                        SET A NEW PASSWORD
                                    </h2>
                                    <br>
                                    {% if validlink %}
                                        <ul style="list-style-type:disc" class="text-sm text-gray-600 text-left">
                                            <li>
                                                Your password can’t be too similar to your other personal information.
                                            </li>
                                            <li>
                                                Your password must contain at least 8 characters.
                                            </li>
                                            <li>
                                                Your password can’t be a commonly used password.
                                            </li>
                                            <li>
                                                Your password can’t be entirely numeric.
                                            </li>
                                        </ul>
                                        </div>
                                        <form class="mt-8" action="#" method="POST">
                                            {% csrf_token %}
                                            <input type="hidden" name="remember" value="true">
                                            <div class="rounded-md shadow-sm">
                                                <div>
                                                    <input aria-label="Password" name="new_password1" type="password"
                                                           id="id_new_password1" required
                                                           class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:z-10 sm:text-sm sm:leading-5 border-4"
                                                           placeholder="Password">
                                                </div>
                                                <br>
                                                <div class="-mt-px">
                                                    <input aria-label="Password" name="new_password2" type="password"
                                                           id="id_new_password2" required
                                                           class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:z-10 sm:text-sm sm:leading-5"
                                                           placeholder="Confirm Password">
                                                </div>
                                            </div>

                                            <div class="mt-6">
                                                <button type="submit"
                                                        disabled
                                                        id="submit_password"
                                                        class="mb-10 group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                    <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                      <svg
                              class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400 transition ease-in-out duration-150"
                              fill="currentColor" viewBox="0 0 20 20">
                        <path fill-rule="evenodd"
                              d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                              clip-rule="evenodd"/>
                      </svg>
                    </span>
                                                    Update Password
                                                </button>
                                            </div>
                                        </form>
                                    {% else %}

                                        <p class="text-lg text-gray-600 text-center">
                                            The password reset link was invalid, possibly because it has already been
                                            used. Please request a new password reset.
                                        </p>
                                        <br>
                                    {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <script>
    var password1_flag = false;
    var password2_flag = false;
    password_field = document.getElementById('id_new_password1');
    password_field.addEventListener('keyup', password1Check);
    confirm_password_field = document.getElementById('id_new_password2');
    confirm_password_field.addEventListener('keyup', password2Check);


    function password1Check (){
        if(password_field.value == "") {
            password_field.classList.remove('border-green-500');
            password_field.classList.remove('border-yellow-500');
            password_field.classList.remove('border-red-500');
            password1_flag = false;
        }
        else if(!isNaN(password_field.value)) {
            password_field.classList.remove('border-green-500');
            password_field.classList.remove('border-yellow-500');
            password_field.classList.add('border-red-500');
            password1_flag = false;
        }
        else if(password_field.value.length < 7)
        {
            password_field.classList.remove('border-green-500');
            password_field.classList.remove('border-red-500');
            password_field.classList.add('border-yellow-500');
            password1_flag = false;
        }
        else
        {
            password_field.classList.remove('border-red-500');
            password_field.classList.remove('border-yellow-500');
            password_field.classList.add('border-green-500');
            password1_flag = true;
        }

        password2Check();
    }

    function password2Check(){
        if(confirm_password_field.value == "") {
            confirm_password_field.classList.remove('border-green-500');
            confirm_password_field.classList.remove('border-yellow-500');
            confirm_password_field.classList.remove('border-red-500');
            password2_flag = false;
        }
        else if(confirm_password_field.value.length < 7)
        {
            confirm_password_field.classList.remove('border-green-500');
            confirm_password_field.classList.remove('border-red-500');
            confirm_password_field.classList.add('border-yellow-500');
            password2_flag = false;
        }
        else if(confirm_password_field.value != password_field.value) {
            confirm_password_field.classList.remove('border-green-500');
            confirm_password_field.classList.remove('border-yellow-500');
            confirm_password_field.classList.add('border-red-500');
            password2_flag = false;
        }
        else if(confirm_password_field.value == password_field.value)
        {
            confirm_password_field.classList.remove('border-red-500');
            confirm_password_field.classList.remove('border-yellow-500');
            confirm_password_field.classList.add('border-green-500');
            password2_flag = true;
        }

        if(password_field.value == confirm_password_field.value && password2_flag && password1_flag)
        {
            submit_button.disabled = false;
        }
        else {
            submit_button.disabled = true;
        }
    };

    submit_button = document.getElementById('submit_password');
    submit_button.onclick = function () {
        if(password_field.value != confirm_password_field.value && !password1_flag && !password2_flag)
        {
            alert("The two password fields didn’t match.");
            return;
        }
    }
    
    </script>
{% endblock %}