{% extends 'eyca/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/cards_styles.css' %}">
{% endblock %}


{% block page %}

    <h2 class="mt-2 text-center text-3xl leading-9 font-extrabold text-gray-900">Meet The Team</h2>
    <br>

    <div class="row">
        <div class="container my-12 mx-auto px-4 md:px-12">
            <div class="flex flex-wrap -mx-1 lg:-mx-4 items-stretch ">

                {% for user in user_list %}
                    <div class="w-full md:w-1/2 lg:w-1/5 mt-10 lg:ml-10 max-w-sm rounded overflow-hidden bg-gray-200 shadow-lg">

                            {% if user.profile.profile_pic %}
                                <img class="w-full" src="{{ user.profile.profile_pic.url }}"
                                     alt="{{ user.get_full_name }}">
                            {% else %}
                                <img class="w-full" src="{% static 'images/contact_placeholder.jpg' %}"
                                     alt="{{ user.get_full_name }}">
                            {% endif %}

                        <div>
                            <div class="px-6 py-4 bg-gray-200">
                                <div class="font-bold text-xl mb-2">{{ user.get_full_name }}</div>
                                <p class="font-bold text-gray-700 text-base">
                                    {{ user.get_username }}
                                </p>
                                <p class="font-bold overflow-hidden"> {{ user.profile.college }}</p>
                                <p class="text-gray-700 text-base"> {{ user.email }} </p>
                            </div>
                        </div>
                    </div>
                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}