{% extends 'eyca/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/cards_styles.css' %}">
{% endblock %}


{% block page %}

    <h2>Meet The Team</h2>
    <br>

    <div class="row">

        {% for user in user_list %}

            <div class="column">
                <div class="card">
                    <img src="{% static 'images/contact_placeholder.jpg' %}" alt="{{ user.get_full_name }}" style="width:100%">
                    <div class="container">
                        <h2> {{ user.get_full_name }}</h2>
                        <p class="title">{{ user.get_username }}</p>
                        <p>{{ user.email }}</p>
                        <p>College</p>
                    </div>
                </div>
            </div>

        {% endfor %}


    </div>

{% endblock %}