{% extends 'eyca/base.html' %}
{% load static %}

{% block title %}
    Login
{% endblock %}

{% block page %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Orientation Feedback</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body class="bg-white">
    <div class="w-full flex flex-wrap">
        <div class="w-full flex flex-col">
            <div class="py-15">
                <div class="w-full p-8">
                    <div
                        class="flex bg-white overflow-hidden mx-auto max-w-sm lg:max-w-4xl items-center justify-center px-4 sm:px-6 lg:px-8">
                        <div class="max-w-md w-full">
                            <div>
                                <h2 class="mt-2 text-center text-3xl leading-9 font-extrabold">
                                    Orientation Feedback
                                </h2>
                            </div>
                            <form class="mt-8" action="#" method="POST">
                                <div>
                                    <div>
                                        <input aria-label="Name" name="name" type="text" required
                                            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                            placeholder="Full Name">
                                    </div>
                                    <br>
                                    <div>
                                        <label class="block text-black text-sm font-bold mb-2"
                                            for="participant_type">Are You Student or Faculty?</label>
                                        <input type="radio" class="form-radio" name="participant_type" value="Student" checked
                                            required />
                                        <span class="ml-2">Student</span>
                                        &nbsp;
                                        <input type="radio" class="form-radio" name="participant_type" value="Faculty" />
                                        <span class="ml-2">Faculty</span>
                                    </div>
                                </div>
                                <br>
                                <div>
                                    <input aria-label="College" name="college" type="text" required
                                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                        placeholder="College">
                                </div>
                                <br>
                                <div>
                                    <input aria-label="Degree" name="degree" type="text" required
                                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                        placeholder="Degree">
                                </div>
                                <br>
                                <div>
                                    <input aria-label="Department" name="department" type="text" required
                                        class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 text-gray-900 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                        placeholder="Department">
                                </div>
                                <br>
                                <div>
                                    <select aria-label="Year" name="year"
                                        class="text-gray-500 bg-white appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                        required>
                                        <option value=""> Current year of study </option>
                                        <option value="1">First Year</option>
                                        <option value="2">Second Year</option>
                                        <option value="3">Third Year</option>
                                        <option value="4">Fourth Year</option>
                                    </select>
                                </div>
                                <br>
                                <div>
                                    <label class="block text-black text-sm font-bold mb-2" for="project description">How
                                        was the Orientation?</label>
                                    <div class="d-flex my-4">
                                        <input name="orientation_rating" id="slider11" class="border-0" type="range" min="0" max="5" />
                                        <span class="font-weight-bold text-primary ml-2 mt-1 valueSpan"></span>
                                    </div>
                                    <br>
                                    <div>
                                        <input aria-label="Email address" name="email" type="email"
                                            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                            placeholder="Email Address (Optional)">
                                    </div>
                                    <br>
                                    <div>
                                        <input aria-label="Comments" name="other_comments" type="textarea"
                                            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                            placeholder="Any additional comments (Optional)">
                                    </div>
                                </div>

                                <div class="mt-6">
                                    <button type="submit"
                                        class="mb-10 group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">

                                        Submit
                                    </button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>

<script>
    $(document).ready(function () {

        const $valueSpan = $('.valueSpan');
        const $value = $('#slider11');
        $valueSpan.html($value.val());
        $value.on('input change', () => {

            $valueSpan.html($value.val());
        });
    });

        yearSelect = document.getElementsByName('year')[0];
        yearSelect.addEventListener('change', changeTextColor);

        function changeTextColor() {
            yearSelect.classList.remove('text-gray-500');
            yearSelect.classList.add('text-gray-900');
        }
</script>

{% endblock %}