<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Orientation Feedback</title>
</head>
<body>
<p> Feedback </p>
<form action="" method="post">
    <div>
        <label>Orientation :</label>
        <select name="orientation">
            <option>O_01</option>
            <option>O_02</option>
        </select>
    </div>
    <div>
        <label>Name :</label>
        <input type="text" name="name">
    </div>
    <div>
        <label>Type :</label>
        <input type="radio" name="participant_type"> Student
        <input type="radio" name="participant_type"> Teacher
    </div>
    <div>
        <label>Course :</label>
        <input type="text" name="course">
    </div>
    <div>
        <label>Specialisation :</label>
        <input type="text" name="specialisation">
    </div>
    <div>
        <label>Year :</label>
        <input type="number" name="year">
    </div>
    <div>
        <label>Email ID :</label>
        <input type="email" name="email">
    </div>
    <div>
        <label>Ratings :</label>
        <input type="range" min="0" max="5" name="ratings">
    </div>
    <div>
        <label>Other comments :</label>
        <input type="textarea" name="comments">
    </div>
    <div>
        <input type="submit" value="submit">
    </div>
</form>
</body>
</html>