{% extends 'eyca/base.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/cards_styles.css' %}">
{% endblock %}


{% block page %}
    <br>
    <br>
    <h1 class="mt-2 text-left text-4xl leading-9 font-extrabold text-gray-900">Today's Orientations</h1>
    <br>
    <h2 class="mt-2 text-left text-3xl leading-9 font-bold text-gray-900"> {{ date_today }} </h2>
    <br>
    <div class="row">

        {% for orientation in orientations_today %}
            <a href="{% url 'feedback:feedback_submit' orientation.id %}">
            <div class="ml-10 max-w-sm rounded overflow-hidden shadow-lg">
            <div class="px-6 py-4 bg-gray-200">
                <div class="font-bold text-xl mb-2"> PARTH PARIKH </div>
              <div class="font-bold text-xl mb-2">{{ orientation.time }}</div>
                <div class="font-bold text-xl mb-2">{{ orientation.meeting_type }}</div>
                <div class="font-bold text-xl mb-2">College</div>

            </div>
          </div>
            </a>

        {% endfor %}

    </div>

{#    TODO: CLEAN UP CODE, USE ONE FOR LOOP TO PRINT BOTH DIVS#}

    <br>
    <br>
    <br>
    <br>
    <h1 class="mt-2 text-left text-4xl leading-9 font-extrabold text-gray-900">Yesterday's Orientations</h1>
    <br>
    <h2 class="mt-2 text-left text-3xl leading-9 font-bold text-gray-900"> {{ date_yesterday }} </h2>
    <br>
    <div class="row">

        {% for orientation in orientations_yesterday %}
            <a href="{% url 'feedback:feedback_submit' orientation.id %}">
            <div class="ml-10 max-w-sm rounded overflow-hidden shadow-lg">
            <div class="px-6 py-4 bg-gray-200">
              <div class="font-bold text-xl mb-2">{{ orientation.time }}</div>
                <div class="font-bold text-xl mb-2">{{ orientation.meeting_type }}</div>
                <div class="font-bold text-xl mb-2">College</div>

            </div>
          </div>
            </a>

        {% endfor %}

    </div>

{% endblock %}