{% extends 'eyca/base.html' %}
{% load static %}

{% block title %}
    Register
{% endblock %}

{% block page %}

    <div class="bg-white">
        <div class="w-full flex flex-wrap">
            <div class="w-full flex flex-col">
                <div class="py-24">
                    <div class="w-full p-8">
                        <div
                                class="flex bg-gray-200 rounded-lg overflow-hidden mx-auto max-w-sm lg:max-w-4xl items-center justify-center px-4 sm:px-6 lg:px-8 mt-10">
                            <div class="max-w-md w-full mt-10">
                                <div>
                                    <img class="mx-auto h-24 w-auto" src="{% static 'images/avatar.png' %}"
                                         alt="Workflow">
                                    <h2 class="mt-2 text-center text-3xl leading-9 font-extrabold text-gray-900">
                                        Registration Received
                                    </h2>
                                    <br>
                                    <ul style="list-style-type:disc" class="text-lg text-gray-600 text-left">
                                        <li>
                                            We have received your application to be an e-Yantra Campus Ambassador.
                                        </li>
                                        <li>
                                            Your provided details will now be verified and you may be contacted to
                                            confirm your participation into the eYCA program.
                                        </li>
                                        <li>
                                            When your application is approved, we will send you an email detailing the
                                            further induction procedure.
                                        </li>
                                    </ul>
                                    <br>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}