{% extends 'eyca/base.html' %}
{% load static %}

{% block title %}
    Register
{% endblock %}

{% block page %}
    <div class="bg-white">
        <div class="w-full flex flex-wrap">
            <div class="w-full flex flex-col">
                <div class="py-24">
                    <div class="w-full p-8">
                        <div
                                class="flex bg-gray-200 rounded-lg overflow-hidden mx-auto max-w-sm lg:max-w-4xl items-center justify-center px-4 sm:px-6 lg:px-8">
                            <div class="max-w-md w-full">
                                <div>
                                    <img class="mx-auto h-24 w-auto" src="{% static 'images/avatar.png' %}"
                                         alt="Workflow">
                                    <h2 class="mt-2 text-center text-3xl leading-9 font-extrabold text-gray-900">
                                        Register
                                    </h2>
                                </div>
                                <form class="mt-8" action="#" method="POST" enctype="multipart/form-data">
                                    <input type="hidden" name="remember" value="true">
                                    <div class="rounded-md shadow-sm">
                                        <div>
                                            <input aria-label="Name" name="name" type="text" required
                                                   class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-t-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                                   placeholder="Full name">
                                        </div>
                                        <br>
                                        <div>
                                            <input aria-label="Email address" name="email" type="email" required
                                                   class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                                   placeholder="Email address">
                                        </div>
                                        <br>
                                        <div>
                                            <input aria-label="College" name="college" type="text" required
                                                   class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                                   placeholder="College">
                                        </div>
                                        <br>
                                        <div>
                                            <input aria-label="Course" name="course" type="text" required
                                                   class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                                   placeholder="Course">
                                        </div>
                                        <br>
                                        <div>
                                            <input aria-label="Department" name="department" type="text" required
                                                   class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                                   placeholder="Department">
                                        </div>
                                        <br>
                                        <div>
                                            <select aria-label="Year" name="year"
                                                    class="bg-white appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                                    required>
                                                <option value="placeholder" disabled> -- Current year of study --
                                                </option>
                                                <option value="1">First Year</option>
                                                <option value="2">Second Year</option>
                                                <option value="3">Third Year</option>
                                                <option value="4">Fourth Year</option>
                                            </select>
                                        </div>
                                        <br>
                                        <div>
                                            <input aria-label="Date of Birth" name="dob" type="date" required
                                                   class="text-gray-500 appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                                   placeholder="Date of Birth">
                                        </div>
                                        <br>
                                        <div>
                                            <input aria-label="Contact Number" name="contact_number" type="number"
                                                   required
                                                   class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                                   placeholder="Contact Number">
                                        </div>
                                        <br>
                                        <div class="-mt-px">
                                            <label class="block text-black text-sm font-bold mb-2" for="id_profile_pic">Upload your profile photo :</label>
                                            <input aria-label="Profile Photo" id="id_profile_pic" name="profile_pic" type="file"
                                                   required
                                                   class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                                   placeholder="Upload Profile Picture">
                                        </div>
                                        <br>
                                        <div class="-mt-px">
                                            <label class="block text-black text-sm font-bold mb-2" for="id_card">Upload your ID card :</label>
                                            <input aria-label="ID card" name="id_card" id="id_card" type="file"
                                                   required
                                                   class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded-b-md focus:outline-none focus:shadow-outline-blue focus:border-blue-300 focus:z-10 sm:text-sm sm:leading-5"
                                                   placeholder="Upload ID card">
                                        </div>
                                    </div>

                                    <div class="mt-6 flex items-center justify-between">

                                        <div class="text-sm leading-5">
                                            <a href="#"
                                               class="font-medium text-indigo-600 hover:text-indigo-500 hover:text-indigo-500 focus:outline-none focus:underline transition ease-in-out duration-150">
                                                Already a Member? Login
                                            </a>
                                        </div>
                                    </div>

                                    <div class="mt-6">
                                        <button type="submit"
                                                class="mb-10 group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm leading-5 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:border-indigo-700 focus:shadow-outline-indigo active:bg-indigo-700 transition duration-150 ease-in-out">
                                        <span class="absolute left-0 inset-y-0 flex items-center pl-3">
                                            <svg class="h-5 w-5 text-indigo-500 group-hover:text-indigo-400 transition ease-in-out duration-150"
                                                 fill="currentColor" viewBox="0 0 20 20">
                                                <path fill-rule="evenodd"
                                                      d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z"
                                                      clip-rule="evenodd"/>
                                            </svg>
                                        </span>
                                            Register
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>

        yearSelect = document.getElementsByName('year')[0];
        yearSelect.addEventListener('change', changeTextColor);

        function changeTextColor() {
            yearSelect.classList.remove('text-gray-500');
            yearSelect.classList.add('text-gray-900');
        }
    </script>

{% endblock %}